*, *:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
      -ms-text-size-adjust: none;
          text-size-adjust: none;
}

footer, header, nav, section, main {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

a {
  all: unset;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", serif;
  background-color: #e5e5e5;
}

.header-main-div {
  padding: 20px;
  color: rgb(51, 51, 51);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header-main-div .header-logo-block {
  cursor: pointer;
  font-size: 20px;
  font-weight: 900;
}
.header-main-div .header-ul-block {
  font-size: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header-main-div .header-ul-block .nav-li {
  margin-right: 30px;
  cursor: pointer;
  font-size: 20px;
}
.header-main-div .header-ul-block .nav-li .dropdown-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #f9f9f9;
  min-width: 160px;
  margin-top: 10px;
  padding: 12px 16px;
  display: none;
}
.header-main-div .header-ul-block .nav-li .dropdown-content a {
  margin-top: 10px;
}
.header-main-div .header-ul-block .active-li {
  color: #478ac9;
  font-weight: 900;
}

.banner-img-div {
  background-image: url(../img/banner.jpg);
  width: 100%;
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.banner-img-div .banner-text-div {
  max-width: 500px;
  width: 100%;
  border: solid;
  border-color: rgb(255, 255, 255);
  padding: 15px;
  position: absolute;
  top: 15%;
  right: 15%;
  color: rgb(255, 255, 255);
}
.banner-img-div .banner-text-div .banner-main-title {
  font-size: 70px;
  font-weight: 900;
  margin-top: 50px;
}
.banner-img-div .banner-text-div .banner-title {
  font-size: 25px;
  line-height: 35px;
  margin-top: 15px;
}
.banner-img-div .banner-text-div .banner-button {
  max-width: 170px;
  width: 100%;
  margin: 30px 0px;
  color: rgb(255, 255, 255);
  background-color: transparent;
  padding: 15px;
  border: solid;
  border-color: rgb(255, 255, 255);
  border-radius: 100px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  font-family: "Roboto", serif;
  font-size: 20px;
  cursor: pointer;
}
.banner-img-div .banner-text-div .banner-button:hover {
  background-color: rgb(255, 255, 255);
  color: #f1c50e;
}

.section2 .section2-div {
  max-width: 1000px;
  width: 100%;
  margin: 50px auto;
  padding: 10px;
}
.section2 .section2-div .section2-title {
  font-size: 40px;
  text-align: center;
  margin-bottom: 40px;
}
.section2 .section2-div .service-main-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.section2 .section2-div .service-main-block .service-div {
  max-width: 220px;
  width: 100%;
  height: 300px;
  background-color: rgb(255, 255, 255);
  margin: 5px;
  padding: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  border-top: 5px solid #f1c50e;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
}
.section2 .section2-div .service-main-block .service-div .service-icon-div {
  max-width: 70px;
  width: 100%;
  height: 70px;
  border-radius: 50px;
  background-color: #f1c50e;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.section2 .section2-div .service-main-block .service-div .service-icon-div .icon {
  font-size: 30px;
  color: rgb(255, 255, 255);
}
.section2 .section2-div .service-main-block .service-div .title-service {
  font-size: 20px;
  font-weight: 900;
  margin: 20px 0;
}
.section2 .section2-div .service-main-block .service-div:hover {
  -webkit-transform: translate(-5%);
          transform: translate(-5%);
}

.section3-main-div {
  position: relative;
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;
  height: 1500px;
}
.section3-main-div .decoration-div {
  max-width: 500px;
  width: 100%;
  height: 300px;
  background-color: rgb(255, 255, 255);
  padding: 30px;
  -webkit-box-shadow: 5px 10px 30px rgb(83, 83, 83);
          box-shadow: 5px 10px 30px rgb(83, 83, 83);
  position: absolute;
  top: 10%;
  left: 20%;
  z-index: 1;
}
.section3-main-div .decoration-div .decor-title {
  font-size: 30px;
  margin: 20px 0;
}
.section3-main-div .decoration-div .decor-title2 {
  font-style: italic;
  margin: 20px 0;
}
.section3-main-div .decoration-div .decor-text {
  margin: 20px 0;
}
.section3-main-div .decoration-div button {
  max-width: 180px;
  width: 100%;
  color: rgb(255, 255, 255);
  background-color: #f1c50e;
  padding: 15px;
  border: solid;
  border-color: rgb(255, 255, 255);
  border-radius: 100px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  font-family: "Roboto", serif;
  font-size: 20px;
  cursor: pointer;
}
.section3-main-div .decoration-div button:hover {
  background-color: transparent;
  border-color: #f1c50e;
  color: #f1c50e;
}
.section3-main-div .decor-img1 {
  max-width: 350px;
  width: 100%;
  height: 400px;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 20%;
  left: 2%;
  -webkit-box-shadow: 5px 10px 30px rgb(83, 83, 83);
          box-shadow: 5px 10px 30px rgb(83, 83, 83);
}
.section3-main-div .decor-img2 {
  max-width: 400px;
  width: 100%;
  height: 400px;
  position: absolute;
  top: 60%;
  left: 20%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 1;
  -webkit-box-shadow: 5px 10px 30px rgb(83, 83, 83);
          box-shadow: 5px 10px 30px rgb(83, 83, 83);
}
.section3-main-div .decor-img3 {
  max-width: 650px;
  width: 100%;
  height: 440px;
  position: absolute;
  top: 35%;
  right: 0%;
  -webkit-box-shadow: 5px 10px 30px rgb(83, 83, 83);
          box-shadow: 5px 10px 30px rgb(83, 83, 83);
}
.section3-main-div .decor-img4 {
  max-width: 500px;
  width: 100%;
  height: 350px;
  position: absolute;
  top: 75%;
  right: 5%;
  -webkit-box-shadow: 5px 10px 30px rgb(83, 83, 83);
          box-shadow: 5px 10px 30px rgb(83, 83, 83);
}
.section3-main-div .text-decor-div {
  max-width: 350px;
  width: 100%;
  padding: 30px;
  border-left: 5px solid rgb(83, 83, 83);
  position: absolute;
  top: 87%;
  left: 2%;
}

.visual-section1 .vidual-main-div {
  background-color: rgb(255, 255, 255);
  width: 100%;
  height: 900px;
  position: relative;
}
.visual-section1 .vidual-main-div .visual-img {
  max-width: 590px;
  width: 100%;
  height: 620px;
  position: absolute;
  top: 15%;
  left: 20%;
  z-index: 1;
  -o-object-fit: cover;
     object-fit: cover;
}
.visual-section1 .vidual-main-div .visual-text-div {
  max-width: 400px;
  width: 100%;
  height: 450px;
  background-color: rgb(255, 255, 255);
  padding: 30px;
  -webkit-box-shadow: 5px 10px 30px rgb(83, 83, 83);
          box-shadow: 5px 10px 30px rgb(83, 83, 83);
  position: absolute;
  top: 25%;
  left: 55%;
  z-index: 1;
}
.visual-section1 .vidual-main-div .visual-text-div .visual-title {
  font-size: 40px;
  margin: 20px 0;
}
.visual-section1 .vidual-main-div .visual-text-div .visual-title2 {
  margin: 20px 0;
  line-height: 30px;
}
.visual-section1 .vidual-main-div .visual-text-div .visual-text {
  font-style: italic;
  margin: 20px 0;
}
.visual-section1 .vidual-main-div .visual-text-div button {
  max-width: 180px;
  width: 100%;
  color: rgb(255, 255, 255);
  background-color: #f1c50e;
  padding: 15px;
  border: solid;
  border-color: rgb(255, 255, 255);
  border-radius: 100px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  font-family: "Roboto", serif;
  font-size: 20px;
  cursor: pointer;
}
.visual-section1 .vidual-main-div .visual-text-div button:hover {
  background-color: transparent;
  border-color: #f1c50e;
  color: #f1c50e;
}
.visual-section1 .vidual-main-div .yellow-decor-rect {
  max-width: 600px;
  width: 100%;
  height: 300px;
  background-color: #f1c50e;
  position: absolute;
  bottom: 10%;
  right: 15%;
}
.visual-section1 .vidual-main-div .yellow-decor-circle {
  max-width: 200px;
  width: 100%;
  height: 200px;
  background-color: rgb(255, 225, 106);
  border-radius: 100px;
  position: absolute;
  top: 10%;
  right: 12%;
}
.visual-section1 .vidual-main-div .yellow-decor {
  max-width: 300px;
  width: 100%;
  height: 300px;
  border-radius: 300px;
  border: 1px solid #f1c50e;
  position: absolute;
  bottom: 5%;
  left: 10%;
}

.prototype-section .mySwiper {
  padding-top: 100px;
  padding-bottom: 100px;
}
.prototype-section .mySwiper .swiper-wrapper {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.prototype-section .mySwiper .swiper-wrapper .swiper-slide {
  max-width: 300px;
  width: 100%;
  padding: 15px;
  background-color: rgb(255, 255, 255);
  text-align: center;
  height: 500px;
  border-radius: 15px;
  -webkit-box-shadow: 5px 5px 15px rgb(83, 83, 83);
          box-shadow: 5px 5px 15px rgb(83, 83, 83);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
}
.prototype-section .mySwiper .swiper-wrapper .swiper-slide img {
  max-width: 250px;
  width: 100%;
  height: 200px;
}
.prototype-section .mySwiper .swiper-wrapper .swiper-slide h3 {
  font-size: 30px;
  padding: 20px;
}
.prototype-section .mySwiper .swiper-wrapper .swiper-slide p {
  line-height: 25px;
}
.prototype-section .mySwiper .swiper-wrapper .swiper-slide button {
  max-width: 100px;
  width: 100%;
  color: rgb(255, 255, 255);
  background-color: #f1c50e;
  padding: 10px;
  border: solid;
  border-color: rgb(255, 255, 255);
  border-radius: 100px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  font-family: "Roboto", serif;
  font-size: 15px;
  cursor: pointer;
}
.prototype-section .mySwiper .swiper-wrapper .swiper-slide button:hover {
  background-color: transparent;
  border-color: #f1c50e;
  color: #f1c50e;
}
.prototype-section .mySwiper .swiper-wrapper .swiper-slide:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.design-section {
  background-color: rgb(255, 255, 255);
}
.design-section .design-main-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: 50px;
  padding: 100px;
}
.design-section .design-main-div .design-section-div-rect {
  max-width: 500px;
  width: 100%;
  height: 550px;
}
.design-section .design-main-div .design-section-div-rect .design-img {
  max-width: 400px;
  width: 100%;
  -webkit-box-shadow: 5px 10px 30px rgb(83, 83, 83);
          box-shadow: 5px 10px 30px rgb(83, 83, 83);
}
.design-section .design-main-div .design-section-div-rect .design-title {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 15px;
}
.design-section .design-main-div .design-section-div-rect .design-text-div {
  max-width: 400px;
  width: 100%;
  padding: 20px;
}
.design-section .design-main-div .design-section-div-rect .design-text {
  line-height: 20px;
}
.design-section .design-main-div .design-section-div-circle {
  max-width: 500px;
  width: 100%;
  height: 650px;
  position: relative;
}
.design-section .design-main-div .design-section-div-circle .dots-design {
  max-width: 400px;
  width: 100%;
  position: absolute;
  top: 0%;
  right: 0%;
}
.design-section .design-main-div .design-section-div-circle .design-img-circle {
  max-width: 400px;
  width: 100%;
  border-radius: 350px;
  position: absolute;
  top: 5%;
  left: 0%;
  -webkit-box-shadow: 5px 10px 30px rgb(83, 83, 83);
          box-shadow: 5px 10px 30px rgb(83, 83, 83);
}
.design-section .design-main-div .design-section-div-circle .design-text-div {
  max-width: 400px;
  width: 100%;
  position: absolute;
  bottom: 0%;
  left: 0%;
  padding: 20px;
}
.design-section .design-main-div .design-section-div-circle .design-title {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 20px;
}
.design-section .design-main-div .design-section-div-circle .design-text {
  line-height: 20px;
}
.design-section .design-main-div .design-section-div-circle button {
  max-width: 140px;
  width: 100%;
  color: rgb(255, 255, 255);
  background-color: rgb(83, 83, 83);
  padding: 15px;
  border: solid;
  border-color: black;
  border-radius: 100px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  font-family: "Roboto", serif;
  font-size: 20px;
  cursor: pointer;
  margin-top: 10px;
}
.design-section .design-main-div .design-section-div-circle button:hover {
  background-color: transparent;
  border-color: #f1c50e;
  color: #f1c50e;
}

.designers-div {
  background-image: url(../img/decor4.jpg);
  width: 100%;
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  margin-bottom: 100px;
}
.designers-div .designers-block {
  max-width: 1000px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  bottom: -10%;
  left: 17%;
}
.designers-div .designers-block .designers {
  max-width: 200px;
  width: 100%;
  background-color: rgb(255, 255, 255);
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-shadow: 5px 10px 30px rgb(83, 83, 83);
          box-shadow: 5px 10px 30px rgb(83, 83, 83);
}
.designers-div .designers-block .designers .icon {
  font-size: 60px;
  color: #f1c50e;
  margin-top: 30px;
}
.designers-div .designers-block .designers .number {
  font-size: 40px;
  font-weight: 900;
  color: #f1c50e;
  margin-top: 20px;
}
.designers-div .designers-block .designers .title {
  font-size: 15px;
  font-weight: 900;
  margin-top: 20px;
  margin-bottom: 20px;
}

.footer {
  background-color: rgb(83, 83, 83);
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer .footer-div {
  max-width: 500px;
  width: 100%;
  height: 200px;
}
.footer .footer-div .lists {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: rgb(255, 255, 255);
  max-width: 500px;
}
.footer .footer-div .lists .ul-list {
  line-height: 30px;
}
.footer .footer-div .lists .ul-list .title {
  font-weight: 900;
  margin-bottom: 10px;
}
.footer .social-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 300px;
  width: 100%;
}
.footer .social-icons .icon {
  color: rgb(255, 255, 255);
  font-size: 30px;
  cursor: pointer;
}
.footer .social-icons .icon:hover {
  color: #478ac9;
}

.form-style-9 {
  max-width: 700px;
  background: rgb(255, 255, 255);
  padding: 30px;
  margin: 50px auto;
  -webkit-box-shadow: 1px 1px 25px rgba(0, 0, 0, 0.35);
          box-shadow: 1px 1px 25px rgba(0, 0, 0, 0.35);
  border: 5px solid #f1c50e;
}
.form-style-9 .title {
  margin-bottom: 30px;
  font-size: 40px;
  font-weight: 500;
}
.form-style-9 ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.form-style-9 ul li {
  display: block;
  margin-bottom: 10px;
  min-height: 35px;
}
.form-style-9 ul li .field-style {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 8px;
  outline: none;
  border: none;
  border-bottom: 3px solid rgb(83, 83, 83);
}
.form-style-9 ul li .field-style:focus {
  -webkit-box-shadow: 0 5px 6px -6px rgb(83, 83, 83);
          box-shadow: 0 5px 6px -6px rgb(83, 83, 83);
}
.form-style-9 ul li .field-split {
  width: 49%;
}
.form-style-9 ul li .field-full {
  width: 100%;
}
.form-style-9 ul li .align-left {
  float: left;
}
.form-style-9 ul li .align-right {
  float: right;
}
.form-style-9 ul li textarea {
  width: 100%;
  height: 100px;
}
.form-style-9 ul li button {
  max-width: 250px;
  width: 100%;
  color: rgb(255, 255, 255);
  background-color: #f1c50e;
  padding: 8px;
  border: solid;
  border-color: #f1c50e;
  border-radius: 100px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  font-family: "Roboto", serif;
  font-size: 20px;
  cursor: pointer;
  margin-top: 10px;
}
.form-style-9 ul li button:hover {
  background-color: rgb(83, 83, 83);
  border-color: rgb(83, 83, 83);
  color: rgb(255, 255, 255);
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.eot");
  src: url("../fonts/Roboto-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Regular.woff2") format("woff2"), url("../fonts/Roboto-Regular.woff") format("woff"), url("../fonts/Roboto-Regular.svg#Roboto-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}